<ion-view title="Đăng mới" id="CreateSale">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<form id="create-sale-form" name="createSaleForm" novalidate ng-submit="save(create-sale-form)">
			<div class="list edit-list">
				<div class="item item-divider">Bạn muốn bán gì?</div>
				
				<label class="item item-input">
					<input name="ProductName" type="text" placeholder="Tên sản phẩm" ng-model="newsale.ProductName" required minlength="5" maxlength="50" />
					<span class="help-block" ng-show="showInvalid && createSaleForm.ProductName.$error.required"></span>
			  	</label>
			  	<label class="item item-input">
					<input name="ProductAddress" type="text" placeholder="Địa chỉ" forceSelection="true" vs-google-autocomplete ng-model="newsale.Address" 
					 vs-place="autoAddress.place" 
			         vs-place-id="autoAddress.components.placeId"
			         vs-street-number="autoAddress.components.streetNumber" 
			         vs-street="autoAddress.components.street"
			         vs-city="autoAddress.components.city"
			         vs-state="autoAddress.components.state"
			         vs-country-short="autoAddress.components.countryCode"
			         vs-country="autoAddress.components.country"
			         vs-district = "autoAddress.components.district"
			         vs-latitude = "autoAddress.components.location.lat"
			         vs-longitude = "autoAddress.components.location.long"
					required minlength="5" maxlength="200"  ng-blur="onAddressChange()" />
					<span class="help-block" ng-show="showInvalid && createSaleForm.ProductAddress.$error.required"></span>
			  	</label>
			  	<label class="item item-input">
					<input name="ProductPhone" type="text" placeholder="Điện thoại liên hệ" ng-model="newsale.Phone" required minlength="5" maxlength="200" />
					<span class="help-block" ng-show="showInvalid && createSaleForm.ProductPhone.$error.required"></span>
			  	</label>
			  	<label class="item item-input">
					<input type="text" name="ProductPrice" placeholder="Giá bán" ng-model="newsale.Price" ui-number-mask="0" min="1000" max="100000000000" maxlength="15" minlength="4" >
					<span class="help-block" ng-show="showInvalid && createSaleForm.ProductPrice.$error.required"></span>
			  	</label>
			  	<label class="item item-input">
					<textarea placeholder="Mô tả"" placeholder="Mô tả" ng-model="newsale.Description"></textarea>
			  	</label>
			</div>
			<div class="row" >
				<div class="col col-50"> 
					<label class="" style="vertical-align: middle;">Hình ảnh</label></div>
				<div class="col"> 
					<button class="button button-small" >
						Chụp hình
					</button>
				</div>
				<div class="col"> 
					<button class="button button-small" ng-click="choosePhoto()">
					Chọn hình
					</button>
				</div>
		    </div>
		  
	    	<div class="row" ng-repeat="img in images" ng-show="images.length > 0">	
				<img ng-src="{{img}}" />
			</div>
			<div class="row" >	
				<div class="col" style="text-align: center">
					<button class="button button-long button-positive" type="button" >
						Cancel
					</button>
					<button class="button button-long button-positive" ng-disabled="createSaleForm.$invalid" type="submit" >
						Save
					</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>